/* Tablets */
@media screen and (max-width: 800px) {
    .conteiner {
        float: none !important;
        width: 95% !important;
        display: block !important;
        margin: 0px !important;
        padding: 2.5% !important;
        text-align: left;
    }

    .specci__title {
        text-align: left !important;
        padding: 0px !important;
    }

    .portafolio__article {
        padding: 0.0% !important;
        margin: 2.5% !important;
        width: 45% !important;
    }   
    .a__cursos {
        clear: both !important;
    }

    .animbox {
        font-size: 25px !important;
        /*line-height: 1.5em !important;*/
    }

    .margin {
        max-width: 100%;
    }
}
/* Movil */
@media screen and (max-width: 600px) {
    
    .mobile__menu {
        transition: 0.5s ease-in-out;
        display: block;
        text-align: center;
        background-color: transparent; 
        margin: 0px;
        padding: 0em;
        overflow: hidden;
        height: 0px;
    }

    .icon-menu:before {
        display: inline !important;
    }

    .mobile__menu__ul {
        padding: 0px; 
        margin: 0px 2.5%; 
    }
    
    .mobile__menu__li,.mobile__menu__a {
        list-style: none;
        display: inline-block;
        text-align: left;
        padding: 2px 0px;
        margin: 0px 0px;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
    }

    .mobile__menu__li {
        line-height: 44px;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #666;
    }

    .mobile__menu__a { 
        color: #666;
     }
    .header__fixed {
        background-color: transparent;
        color: #666;
        z-index: 10;
        height: 70px;
    }

    .header__cv {
        color: #fff;
        line-height: 70px;
    }
    .ite {
        color: #fff;
    }
    .p_p {
        display: none !important;
    }
    .portafolio__article {
            margin: 2em 2.5% !important;
            width: 95% !important;
    }

    .hello {
        display: none;
    }

    .menu {
        display: none;
    }
}

/* ajuste en mobile */

@media screen and ( max-width: 480px ){
    .portafolio__article {
        padding: 0.0% !important;
        margin: 2.5% !important;
        width: 90% !important;

    }
    .header__h1 {
        font-size: 45px !important;
    }

    .animbox {
        font-size: 22px !important;
        /*line-height: 1.5em !important;*/
    }
    .btns {
        line-height: 1em !important;
        padding-top: 14px !important;
        font-size: 26px !important;
    }   

    .btns__a {
        padding: 10px 25px 10px !important;
        -webkit-border-radius: 1px !important;
        -moz-border-radius: 1px !important;
        border-radius: 1px !important;
    }


    strong {
        display: block !important;
        line-height: 1.5em !important;
        /*margin-bottom: 30px;*/
    }

    .about__title,.portafolio__h2 {
        line-height: 1em !important;
    }
}
