
@media screen and (max-width: 800px) {

    .conteiner {
        float: none !important;
        width: 95% !important;
        display: block !important;
        margin: 0px !important;
        padding: 2.5% !important;
        text-align: left;
    }

    .specci__title {
        text-align: left !important;
        padding: 0px !important;
    }

    .portafolio__article {
        padding: 0.0% !important;
        margin: 2.5% !important;
        width: 45% !important;
    }   
    .a__cursos {
        clear: both !important;
    }

    .animbox {
        font-size: 25px !important;
        /*line-height: 1.5em !important;*/
    }
}

@media screen and (max-width: 500px) {
    .portafolio__article {
        padding: 0.0% !important;
        margin: 2.5% !important;
        width: 90% !important;

    }
    .header__h1 {
        font-size: 45px !important;
    }

    .animbox {
        font-size: 22px !important;
        /*line-height: 1.5em !important;*/
    }
    .btns {
        line-height: 1em !important;
        padding-top: 14px !important;
        font-size: 26px !important;
    }   

    .btns__a {
        padding: 10px 25px 10px !important;
        -webkit-border-radius: 1px !important;
        -moz-border-radius: 1px !important;
        border-radius: 1px !important;
    }

    strong {
        display: block !important;
    }
}

@media screen and (max-width: 390px) {
}