
@media screen and (max-width: 800px) {
    .conteiner {
        display: block !important;
        width: 100% !important;
        margin: 5em 0em !important
    }
    .about {
        padding: 0em 20px !important
    }
}

@media screen and (max-width: 500px) {
    .skils {
        color: #333 !important;
        margin: 2em 0em !important;
        font-size: 1.25em !important
    }
    .about__title {
        margin-right: 0px !important;
        margin-left: 0px !important
    }
    .header {
        padding: 216px 0px 135px 0px !important;
        color: #f1f1f1 !important
    }
    .header__h1 {
        font-size: 50px !important;
        margin: 5px !important;
        padding: 2px !important
    }
    .animbox {
        font-size: 22px !important;
        margin: 0px !important
    }
}

@media screen and (max-width: 390px) {
    .about__title,
    .about__p,
    .about {
        padding-left: 0px !important;
        padding-right: 0px !important
    }
    .header {
        padding: 206px 0px 125px 0px !important
    }
    .body {
        font-size: 14px !important
    }
    .menu {
        display: none !important
    }
    .header__h1 {
        font-size: 40px !important;
        margin: 0px !important;
        padding: 0px !important
    }
    .animbox {
        font-size: 18px !important
    }
    .btns__a {
        padding: 2px 20px 2px !important;
        font-size: 12px !important
    }
    strong {
        display: block !important
    }
}